body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f8c8dc;
    color: #333;
}

header {
    background-color: #a68a64;
    color: white;
    padding: 15px;
    text-align: center;
}

.bienvenida{
    background-color: #c2f0c2;
    padding: 20px;
    text-align: center;
}

.enlaces{
    text-align: center;
    margin: 15px 0;
}

.enlaces a {
    margin:0 10px;
    color: #a68a64;
    font-weight: bold;
    text-decoration: none;
}
.presentacion {
    display: flex; /* Flexbox para alinear texto e imagen */
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.texto {
    max-width: 400px;
    margin: 10px;
}

.imagenes img {
    width: 250px;
    border-radius: 8px;
    margin: 10px;
}