body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f8c8dc;
    color: #333;
}

header {
    background-color: #a68a64;
    color: white;
    padding: 15px;
    text-align: center;
}